# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build logs
*.log
*.binlog

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
